.user-avatar {
  margin-top: 60px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.mat-form-field {
  width: 100%;
  background-color: white;
  font-size: 14px;
  color: black;
}
