<ion-header>
  <mat-toolbar color="primary" style="height: 80px; padding: 28px 0 0 0;">
    <button mat-button type="button" class="fa fa-chevron-left" routerLink="/sysuser/home"></button>
    <h5>修改密码</h5>
  </mat-toolbar>
</ion-header>

<ion-content color="medium">
  <form [formGroup]="changepasswordForm">
    <ion-list>
      <ion-item>
        <ion-label>输入原密码</ion-label>
        <ion-input type="password" formControlName="passwordold"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>设置新密码</ion-label>
        <ion-input type="{{isShowPassword?'text':'password'}}" formControlName="password"></ion-input>
        <ion-button fill="clear" slot="end" (click)="showPassword($event)"><ion-icon name="{{isShowPassword?'eye':'eye-off'}}"></ion-icon></ion-button>
      </ion-item>

      <ion-item>
        <ion-label>确认新密码</ion-label>
        <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        <ion-text slot="end" *ngIf="passwordConfirm.dirty && changepasswordForm.hasError('mismatch')" color="danger">两次输入的密码不一致</ion-text>
      </ion-item>
    </ion-list>

    <br>
    <div class="ion-padding">
      <ion-button expand="block" [disabled]="!changepasswordForm.valid" (click)="changePassword()">提交</ion-button>
    </div>

  </form>
</ion-content>


